<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Contratar teléfono</title>
	<style type="text/css">
		 label{
			display: inline-block;
			width: 20%;

		}
		input[type="text"]{
			width: 50%;
			margin: 20px;
			padding: 10px;
			border-radius: 10px;
		}

		input[type="file"]{
			width: 42%;
			margin-left: 10%;
			padding: 10px;
			border-radius: 10px;
		}

		input[type="submit"]{
			margin-left: 20%;
			width: 60%;
			padding: 10px;
			border-radius: 10px;
		}
		
	</style>
</head>
<body>

	<h2>Por favor, complete los siguientes  campos:</h2>

<!--Es preciso poner ENCTYPE = "MULTIPART/FORM_DATA" en el FORM, para subir los archivos-->
	<form enctype="multipart/form-data" action="manipulaciondb.php" method="POST">
		<label for="dni">DNI:</label>
		<input type="text" name="dni" id="dni"> <br>
		<label for="name">Nombre/s:</label>
		<input type="text" name="nombre" id="nombre"><br>
		<label for="apellido">Apellido/s:</label>
		<input type="text" name="apellido" id="apellido"><br>
		<label for="telefono">Teléfono de contacto:</label>
		<input type="text" name="telefono" id="telefono"><br>

		<label for="myfile">Adjunta tu documentación:</label>
		<input type="file" id="myfile[]" name="myfile[]" multiple>
		<input type="hidden" name="MAX_FILE_SIZE" value="512000" /><br><br>
		<input type="submit" name="enviar" value="Enviar Archivo">
	</form>
</body>
</html>