<!DOCTYPE html>
<html>
<head>
	<title>Global Raiman SL - Inicio</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/header.css">
	<link rel="stylesheet" type="text/css" href="../css/slider.css">
	<link rel="stylesheet" type="text/css" href="../css/article.css">
	<link rel="icon" type="image/jpg" href="images/favicon.jpg">
	<script type="text/javascript" src="../js/slider.js"></script>
	
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
			**font-size: 1.5em;
			box-sizing:border-box;
		}
		.foot{
			background-color: #106EB4;
			position: relative;
			top:1260px;
			border-radius: 10px;
			color: white;
			text-align: center;
		}

		footer h2 a{
			text-align: center;
			color: white;
			font-size: 2em;
		}

		.link_menu_footer{
			list-style-type: none;
			display: inline-block;
			margin: 2%;
		}

		.div_foot_alineados{
			display: inline-block;
			width: 25%;
			margin: 3%;
			position: relative;
			top: 5px;
			**background-color: red;
		}

		.li_footer{
			list-style-type: none;
			text-align: left;
		}		
		
	</style>
</head>
<body>
	<header>
		<div id="div_he1">
			<img src="../images/logo.png" id="logotipo">
			
		</div>
		<div id="div_he2">
			<p>Información y Contratación <br>Teléfono de Contacto </p>
			<h3 id="tel_contacto">639 043 155</h3>
		</div>
		<div id="div_he3">
			<ul id="ul_header">
				<li id="li_header"><a href="">INICIO</a></li>
				<li id="li_header"><a href="">TELEFONÍA</a></li>
				<li id="li_header"><a href="">ENERGÍAS</a></li>
				<li id="li_header"><a href="">SEGUROS</a></li>
				<li id="li_header"><a href="">ALARMAS</a></li>
				<li id="li_header"><a href="">CAJÓN DE COBROS</a></li>
				<li id="li_header"><a href="">CURSOS BONIFICADOS</a></li> 
			</ul>
		</div>
	</header>

	<!--De aquí en adelante se define el SLIDER -->

		<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
   <!--  <div class="numbertext">1 / 3</div> -->
    <img src="../images/s1.png" style="width:100%" id="img1">
   <!--  <div class="text">Imagen 1</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">2 / 3</div> -->
    <img src="../images/s2.png" style="width:100% " id="img2">
   <!--  <div class="text">Imagen 2</div> -->
  </div>

  <div class="mySlides fade">
   <!--  <div class="numbertext">3 / 3</div> -->
    <img src="../images/s3.png" style="width:100%" id="img3">
   <!--  <div class="text"></div>Imagen 3 -->
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<!--Fin de SLIDER -->

<!--Inicio de artículos -->
<!-- <div id="container_articles">
	<div class="articulo" id="art1">
		<div><a href="#"><img src="images/div1.png" class="style_img_article"></a></div>
		<div class="articulo_footer">Este es un texto</div>
	</div>
	<div class="articulo" id="art2">
		<div><a href="#"><img src="images/div1.png" class="style_img_article"></a></div>
		<div class="articulo_footer">Este es un texto</div>
	</div>
	<div class="articulo" id="art3">
		<div><a href="#"><img src="images/div1.png" class="style_img_article"></a></div>
		<div class="articulo_footer">Este es un texto</div>
	</div>
	<div class="articulo" id="art4">
		<div><a href="#"><img src="images/div1.png" class="style_img_article"></a></div>
		<div class="articulo_footer">Este es un texto</div>
	</div>
	<div class="articulo" id="art5">
		<div><a href="#"><img src="images/div1.png" class="style_img_article"></a></div>
		<div class="articulo_footer">Este es un texto</div>
	</div>
	<div class="articulo" id="art6">
		<div><a href="#"><img src="images/div1.png" class="style_img_article"></a></div>
		<div class="articulo_footer">Este es un texto</div>
	</div>
	<div class="articulo" id="art7">
		<div><a href="#"><img src="images/div1.png" class="style_img_article"></a></div>
		<div class="articulo_footer">Este es un texto</div>
	</div>
	<div class="articulo" id="art8">
		<div><a href="#"><img src="images/div1.png" class="style_img_article"></a></div>
		<div class="articulo_footer">Este es un texto</div>
	</div>
	<div class="articulo" id="art9">
		<div><a href="#"><img src="images/div1.png" class="style_img_article"></a></div>
		<div class="articulo_footer">Este es un texto</div>
	</div>	
		
</div> -->
<!-- -->

<footer class="foot">
	<h2><a href="#">globalraiman.com</a> tu comparador de precios</h2>
	
	<div>
		<ul>
			<li class="link_menu_footer"><a href="">Telefonía</a></li>
			<li class="link_menu_footer"><a href="">Energías</a></li>
			<li class="link_menu_footer"><a href="">Seguros</a></li>
			<li class="link_menu_footer"><a href="">Alarmas</a></li>
			<li class="link_menu_footer"><a href="">Cajón de cobros</a></li>
			<li class="link_menu_footer"><a href="">Cursos bonificados</a></li>
		</ul>
	</div>
	<hr>
	<div class="div_foot_alineados">
		<h3>Acerca de Global Raiman SL</h3>
		<ul>
			<li class="li_footer"><a href="">¿Cómo funciona?</a></li>
			<li class="li_footer"><a href="">Sobre nosotros</a></li>
			<li class="li_footer"><a href="">Últimas noticias</a></li>
			<li class="li_footer"><a href="">Trabaja con nosotros</a></li>
			<li class="li_footer"><a href="../templates/contacto.html">Contacto</a></li>
			<br>
			<br>
		</ul>

	</div><div class="div_foot_alineados">
		<h3>Enlaces de Interés</h3>
		<ul>
			<li class="li_footer"><a href="">Aseguradoras</a></li>
			<li class="li_footer"><a href="">Seguros Baratos</a></li>
			<li class="li_footer"><a href="">Comparativa Seguros</a></li>
			<li class="li_footer"><a href="">Calcular Seguro</a></li>
			<li class="li_footer"><a href="">Guía Seguros Coche</a></li>
			<li class="li_footer"><a href="">Asegurar Coche</a></li>
			<br>
		</ul>

	</div><div class="div_foot_alineados">
		<h3>Redes Sociales</h3>
		<ul>
			<li class="div_foot_alineados li_footer"><a href=""><img src="../images/twitter.png"></a></li>
			<li class="div_foot_alineados li_footer"><a href=""><img src="../images/youtube.png"></a></li>
			<br>
			<br>		
		</ul>
		<ul>
			<li class="div_foot_alineados li_footer"><a href=""><img src="../images/facebook.png"></a></li>
			<li class="div_foot_alineados li_footer"><a href=""><img src="../images/google.png"></a></li>
			<br>
			<br>
			<br>
		</ul>
	</div>
	
</footer>


</body>
</html>